@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

h1 {
  color: teal;
  font-family: "Candara Light", monospace;
}

.main-header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 0.2rem 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header__page-title {
  line-height: .2rem;
}

.main-header__page-title h1 {
  font-family: "Candara Light", monospace;
  font-size: 30pt;
  color: turquoise;
}

.main-header__page-title p {
  font-family: "Edwardian Script ITC", "Curlz MT", "Felix Titling", sans-serif;
  font-size: 22pt;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #40e0d0;
}

.cart-icon {
  width: 15pt; 
  height: auto;
  color: white;
  padding-left: .2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  margin: 1.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid teal;
  color: teal;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 0.25rem;
}

.btn:hover,
.btn:active {
  background-color: teal;
  color: white;
}

.error-pg {
  margin: auto;
  width: 50%;
  padding-top: 2rem;
  text-align: center;
}

.error-pg h1, 
.error-pg p {
  margin: 0;
  padding: 0;
}

.error-pg h1 {
  color: teal;
  font-family: "Candara Light", monospace;
  font-size: 90pt;
}

footer {
  margin-top: 25rem;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #333;
  font-family: "Cascadia Code ExtraLight", "Candara Light", monospace;
}

footer h3 {
  color: turquoise;
}