<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="error-pg">
      <p>We're so sorry. This link seems to be broken.</p>
      <h1>404</h1>
      <p>This page is missing. We'll call Holmes to help us find it.</p>
      <img src="/images/broken_pot.jpg" alt="Broken Pot">
    </div>

<%- include('../includes/end.ejs') %>