<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="error-pg">
      <p>Uh oh. It looks like the server is having issues.</p>
      <h1>500</h1>
      <p>It must be overworked and underpaid (like me;).</p>
      <img src="/images/server_error.jpg" alt="500: Server Error">
    </div>

<%- include('../includes/end.ejs') %>