<!--ta-->
<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/ta-header.ejs %>
</head>

<body>
  <% include ../../includes/ta-nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= pageTitle %></h1>
      </div>
    </div>
    <div class="container text-center">
      <table class="tasks">
        <tr>
          <td>Week 1</td>
          <td><a href="01">NodeJS Intro</a></td>
        </tr>
        <tr>
          <td>Week 2</td>
          <td><a href="02">Users</a></td>
        </tr>
        <tr>
          <td>Week 3</td>
          <td></td>
        </tr>
        <tr>
          <td>Week 4</td>
          <td></td>
        </tr>
        <tr>
          <td>Week 5</td>
          <td></td>
        </tr>
        <tr>
          <td>Week 6</td>
          <td></td>
        </tr>
        <tr>
          <td>Week 7</td>
          <td></td>
        </tr>
        <tr>
          <td>Week 8</td>
          <td></td>
        </tr>
      </table>
    </div>

</body>

</html>